<!DOCTYPE html>
<html>
<head>
  <title>ConcertoOmniauthShibboleth</title>
  <%= stylesheet_link_tag    "concerto_omniauth_shibboleth/application", media: "all" %>
  <%= javascript_include_tag "concerto_omniauth_shibboleth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
